@model IEnumerable<RealEstateOffice.Models.Property>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumOfRooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Elevator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balcony)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parking)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SQfeet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.About)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumOfRooms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Elevator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balcony)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parking)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SQfeet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.About)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PropertyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PropertyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PropertyID })
        </td>
    </tr>
}

</table>
